/* Cuerpo de la página */
body{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-width: 380px;
    background-color:#E8DFCA;
}

/* Encabezado fijo */
header {
    background-color: #4f6f52;
    background-image: linear-gradient(to right, #E8DFCA, #4f6f52);
    position: sticky;
    top: 0;
}

.cajaEncabezado{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logoEmpresa{
    position: relative;
    width: 70px;
    height: 70px;
    padding: 10px;
    left: 20px;
    vertical-align: middle;
}

.iconoMenuDesplegable {
    padding: 14px 30px;
}

.cajaMenuDesplegable li {
    text-decoration: none;
    color: #FFFFFF;
    list-style: none;
}

.cajaMenuDesplegable li a{
    background-image: linear-gradient(to right, #E8DFCA, #4f6f52);
    color: #E8DFCA;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.cajaMenuDesplegable li ul {
    display: none;
    position: absolute;
}

.cajaMenuDesplegable li:hover > ul{
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: -40px;
}

.cajaMenuDesplegable li ul li ul {
    display: none;
    position: absolute;
}

.cajaMenuDesplegable li {
    cursor: pointer;
}

.listaMenuDesplegable:hover{
    color:#000000;
}

.cajaMenu{
    display: none;
}

/* Página Inicio */
.logoInicio {
    text-align: center;
}

.logoInicio img {
    margin: 30px 0 0 0;
}

.logoInicio h1{
    font-size: 0.8em;
    margin: 0 0 10px 0;
}

.parrafoInicio {
    margin: 24px 12px;
    text-align: center;
}

.parrafoInicio h2 {
    font-size: 1.2em;
}

.parrafoInicio p{
    font-size: 0.8em;
}

.parrafoInicio a{
    text-decoration: none;
    color: #1A4D2E;
}

.caracteristicasEmpresaMarquee {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

.caracteristicasEmpresa {
    display: none;
}

.fraseEmpresa {
    font-family: "Briem Hand", cursive;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.productosDestacados {
    text-align: center;
    font-weight: bold;
    border: 2px solid #4f6f52;
    border-radius: 8px;
    position: relative;
    background-color: #1A4D2E;
    padding: 0 2em 1.6em;
    margin: 1.5em;
    color: #E8DFCA;
}

.productosDestacados p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.productosDestacados img {
    display: inline-flex;
    width: 6em;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0.6em;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 0.2em;
}

/* Página Nosotros */
.mainNosotros{
    padding: 1.5em 0.5em;
    text-align: center;
}

.mainNosotros h1{
    padding: 0;
    font-size: 1.5em;
    margin: 0 0 0.5em;
}

.mainNosotros a{
    text-decoration: none;
    color: #1A4D2E;
}

.parrafoNosotros {
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.mainNosotros p {
    text-align: center;
}

.mainNosotros img {
    width: 50%;
    border-radius: 10px;
}

.masNosotros {
    font-size: 1.1em;
    font-style: italic;
}

.nuestrosDiferenciales {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 1.6em 1.5em 3em;
    justify-items: center;
    background-color: #FFFFFF;
    border-radius: 1em;
    padding: 0 0 25px 0;
    box-shadow: 0px 0px 30px 4px #4f6f52;
    text-transform: uppercase;
}

.nuestrosDiferenciales h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 18px;
}

.nuestrosDiferenciales p{
    display: none;
}

.nuestrosDiferenciales img {
    width: 2.5em;
}

.seccionValores {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 0 3em 0;
    justify-items: center;
}

.seccionValores h2 {
    grid-column-start: 1;
    grid-column-end: 5;
}

.seccionValores p{
    text-transform: uppercase;
    font-weight: bold;
}

.seccionValores img {
    width: 3em;
}

.contactenosNosotros{
    text-align: center;
    padding: 0 0 1em 0;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.contactenosNosotros a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    border-radius: 1.5em;
    background-color: white;
    padding: 0.5em;
}

.contactenosNosotros a:hover {
    color: #1A4D2E;
    border: 1px solid #1A4D2E;
    transform: scale(1.2);
}

/* Página Productos */
.mainProductos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.imagenProductos{
    display: none;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("Imágenes/Ambiente\ -\ Oficina\ 01.jpeg");
    background-position: center center;
    background-size: cover;
    border: #4f6f52 6px solid;
    border-radius: 3em;
    padding: 0;
}

.categorias li{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 15px;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 4em;
    color: #1A4D2E;
    font-size: 14px;
    background-color: white;
    width: 12em;
    list-style: none;
    text-align: center;
    vertical-align: middle;   
}

.categorias li:hover{
    border-color: #1A4D2E;
    color: #4f6f52;
    transform: scale(1.1);
    background-color: #FFFFFF;
}

.categorias h2 {
    font-weight: bold;
}

.categorias a{
    text-decoration: none;
    color: #1A4D2E;
}

.presentacionProductos {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    background-color: #1A4D2E;
    margin: 0 0 15px 0;
}

.presentacionProductos div {
    padding: 24px;
}

.presentacionProductos h1 {
    font-size: 26px;
    text-transform: uppercase;
}

.presentacionProductos h2{
    background-color: #4f6f52;
    color: #E8DFCA;
    margin: 1em;
    border-radius: 5em;
    padding: 1em;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
}

.presentacionProductos h3{
    vertical-align: middle;
    display: contents;
    color: #1A4D2E;
    font-weight: bold;
}

.presentacionProductos img {
    width: 88px;
}

.presentacionProductos ul {
    padding: 0;
}

.presentacionProductos li {
    font-size: 14px;
    display: inline-block;
    padding: 2em;
    height: 7em;
    width: 7em;
    border-radius: 2em;
    color: #1A4D2E;
    margin: 1.5%;
    vertical-align: middle;
    background-color: #FFFFFF;
    align-content: center;
}

.presentacionProductos li:hover{
    color: #4f6f52;
    box-shadow: 0px 0px 6px 3px;
}

/* Página de Contacto */
.mainContacto {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    text-align: center;
}

.mainContacto h1{
    text-align: center;
}

.mainContacto input, textarea, select, form {
    border-radius: 2em;
    border-style: none;
    font-size: 14px;
    padding: 0.5em;
    text-align: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.mainContacto select {
    cursor: pointer;
}

.mainContacto textarea {
    max-height: 200px;
    min-height: 32px;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    align-items: center;
}

.mainContacto form {
    width: 350px;
    margin: auto;
    align-items: center;
    text-align: center;
}

#error {
    padding: 0;
    font-size: 14px;
    color: red;
}

#bl {
    width: 350px;
    padding: 0.5em;
    border-radius: 2em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    background-color: #1A4D2E;
    color: #E8DFCA;
    margin: 0 0 0.5em 0;
}

#bl:hover{
    cursor: pointer;
    background-color: #4f6f52;
    color: #000000;
}

/* Página Proyectos */
.mainProyectos{
    text-align: center;
    justify-self: center;
}

.entradaDeTexto{
    font-size: 20px;
    margin: 40px 20px 0;
    text-align: center;
}

.estiloAuxiliar{
    color: #E8DFCA;
    background-color: #4f6f52;
    border-radius: 50px;
}

.proyectosGrid1, .proyectosGrid2, .proyectosGrid3{
    display: grid;
    background-color: #1A4D2E;
    border-radius: 25px;
    padding: 10px;
    margin: 1.5em 0 0;
}

.proyectosGrid1 > div, .proyectosGrid2 > div, .proyectosGrid3 > div {
    text-align: center;
    padding: 4%;
    height: auto;
}

div > ul{
    color: #E8DFCA;
}

#direccionamientos{
    font-size: 15px;
    color: #E8DFCA;
    text-decoration: none;
    background-color: #4f6f52;
    border-radius: 0px 15% 0px 15%;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.3), 
    0 0 15px rgba(255, 255, 255, 0.2);
}

#contenidoImagem{
    background-color: none;
}

.proyectosGrid1 h3, .proyectosGrid2 h3, .proyectosGrid3 h3{
    background-color: #4f6f52;
    border-radius: 30px;
    margin: 0.5em;
}

.proyectosGrid1 p, .proyectosGrid2 p, .proyectosGrid3 p{
    margin: 0;
}

.imagenGrid1:hover, .imagenGrid2:hover, .imagenGrid3:hover{
    transform: scale(1.2);
}

.imagenGrid1 img, .imagenGrid2 img, .imagenGrid3 img {
    border-radius: 5%;
    height: auto;
    max-width: 100%;
}

.textosGrid1, .textosGrid2, .textosGrid3 {
    height: 350px;
    color: #E8DFCA;
    margin: 0 0 8px;
    justify-content: center;
}

.textosGrid1 ul, .textosGrid2 ul, .textosGrid3 ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

/* Pie de página */
footer{
    background-image: linear-gradient(to right, #E8DFCA, #4f6f52);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logosContacto {
    padding: 0.1em;
    font-size: 30px;
    width: 2em;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.logosContacto:hover{
    transform: scale(1.2);
}

.cajaPie {
    text-align: center;
    padding: 2% 0 0 0;
}

.suscripcion {
    text-align: center;
    bottom: 1em;
}

.input-padron{
    padding: 0.3em;
    border: none;
    border-radius: 10px;
    margin: 0 0.5em;
}

.botonEnviar{
    text-transform: uppercase;
    margin-left: 0.3em;
    padding: 0.6em;
    border: none;
    border-radius: 14px;
    font-size: 0.6em;
    vertical-align: middle;
    background-color: #ffffff;
    color: #2d2b27;
}
    
.botonEnviar:hover{
    cursor: pointer;
    background-color: #4f6f52;
    color: #000000;
}

.copyright {
    font-size: 0.8em;
    text-align: center;
    bottom: 0.4em;
    padding: 0.5em;
}

@media only screen and (min-width: 576px) {
    /* Página Nosotros */
    .nuestrosDiferenciales h2{
        font-size: 24px;
    }

    .nuestrosDiferenciales p{
        display: grid;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* Categorías que trabajamos */
    .categorias {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 4em;
        height: auto;
        flex-wrap: wrap;
    }

    .categorias li{
        font-size: 14px;
    }

    .imagenProductos{
        display: inline;
        width: 3em;
    }

  }

  @media only screen and (min-width: 768px){
    .navMenu li {
        padding: 0 8px;
    }

    #menu {
        display: none;
    }

    .cajaMenu {
        display: flex;
        padding: 14px 0 0 0;
        font-size: 10px;
    }
        
    .cajaMenu ul {
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        list-style: none;
        padding: 1px 2px 0 0;
    }

    .cajaMenu ul li {
        text-decoration: none;
    }

    .cajaMenu li a{
        text-decoration: none;
        color: black;
        padding: 5px 2px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        display: flex;
    }

    .separador {
        font-weight: bold;
        color:#000000;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    
    .cajaMenu a:hover{
        color: #1A4D2E;
        background-color: #FFFFFF;
        border-radius: 2em;
        transition: 0.3s;
    }

    /* Página Inicio */
    .caracteristicasEmpresaMarquee{
        display: none;
    }

    .caracteristicasEmpresa {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.2em;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 40px 0 0 0;
    }

    .parrafoInicio {
        margin: 0 10em;
    }

    .parrafoInicio p {
        font-size: 1.2em;
    }
    
    .parrafoInicio h2 {
        font-size: 2em;
    }

    .parrafoInicio h4 {
        font-size: 1.5em;
    }

    /* Página Nosotros */
    .parrafoNosotros {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 0 60px;
    }

    .parrafoNosotros p{
        font-size: 20px;
    }
    
    .parrafoNosotros img {
        width: 80%;
    }

    .premisaNosotros p{
        justify-content: center;
    }

    .masNosotros {
        margin: 20px;
    }
    .nuestrosDiferenciales img, p{
        display: flex;
        padding: 0px 5px;
    }
    
    /* Página Productos */
    .categorias {
        padding: 3em;
        border-radius: 5em;
        height: 360px;
    }

    .categorias li {
        height: 170px;
        text-align: center;
        vertical-align: middle;
    }

    .categorias a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagenProductos{
        display: flex;
        width: 3em;
    }

    /* Página Proyectos */
    .mainProyectos{
        text-align: center;
        justify-self: center;
    }

    .entradaDeTexto{
        font-size: 25px;
    }

    .estiloAuxiliar{
        color: #E8DFCA;
        background-color: #4f6f52;
        border-radius: 50px;
    }

    .proyectosGrid1{
        width:100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        background-color: #1A4D2E;
        padding: 0px;
        transition: 0.5s ease;
        border-radius: 25px;
    }

    .proyectosGrid1 > div {
        text-align: center;
        padding: 4%;
        height: 350px;
    }

    div > ul{
        color: #E8DFCA;
    }

    #direccionamientos{
        font-size: 15px;
        color: #E8DFCA;
        text-decoration: none;
        background-color: #4f6f52;
        border-radius: 0px 15% 0px 15%;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.3), 
        0 0 15px rgba(255, 255, 255, 0.2);
    }

    #contenidoImagem{
        background-color: none;
    }
    .proyectosGrid1:hover{
        transform: scaleY(1.2);
    }

    h3{
        background-color: #4f6f52;
        border-radius: 30px;
    }

    .imagenGrid1{
        transition: 0.3s ease;
        justify-content: center;
        height: 350px;
    }

    .imagenGrid1:hover{
        transform: scale(1.2);
    }

    .imagenGrid1 img{
        width: 100%;
        height: 100%;
        border-radius: 5%;
    }

    .textosGrid1 {
        position: relative;
        opacity: 0;
        transition: 0.6s ease ;
        height: 350px;
    }

    .textosGrid1 p,h3{
        margin: 12px;
        line-height: 1.5;
        color: #E8DFCA;
    }

    .proyectosGrid1:hover .textosGrid1{
        opacity: 1;
    }

    .proyectosGrid2 {
        width:100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        background-color: #1A4D2E;
        padding: 0px;
        transition: 0.5s ease;
        border-radius: 25px;
    }

    .proyectosGrid2 > div {
        text-align: center;
        height: 350px;
        padding: 4%;
    }

    .proyectosGrid2:hover{
        transform: scaleY(1.2);
    }

    .imagenGrid2{
        transition: 0.3s ease;
        justify-content: center;
    }

    .imagenGrid2:hover{
        transform: scale(1.2);
    }

    .imagenGrid2 img{
        width: 100%;
        height: 100%;
        border-radius: 5%;
    }

    .textosGrid2 {
        position: relative;
        opacity: 0;
        transition: 0.6s ease ;
        height: 350px;
    }

    .textosGrid2 p,h3{
        margin: 12px;
        line-height: 1.5;
        opacity: 1;
        color: #E8DFCA;

    }

    .proyectosGrid2:hover .textosGrid2{
        opacity: 1;
    }

    .proyectosGrid3{
        width:100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        background-color: #1A4D2E;
        padding: 0px;
        transition: 0.5s ease;
        border-radius: 25px;
    }

    .proyectosGrid3 > div {
        text-align: center;
        height: 350px;
        padding: 4%;
    }

    .proyectosGrid3:hover{
        transform: scaleY(1.2);
    }

    .imagenGrid3{
        transition: 0.3s ease;
        justify-content: center;
    }

    .imagenGrid3:hover{
        transform: scale(1.2);
    }

    .imagenGrid3 img{
        width: 100%;
        height: 100%;
        border-radius: 5%;
    }

    .textosGrid3 {
        position: relative;
        opacity: 0;
        transition: 0.6s ease ;
        height: 350px;
    }  

    .textosGrid3 p,h3{
        margin: 12px;
        line-height: 1.5;
        opacity: 1;
        color: #E8DFCA;
    }

    .proyectosGrid3:hover .textosGrid3{
        opacity: 1;
    }

  }

  